<!DOCTYPE html>
<html lang="{{ lang }}" class="browser-modern">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>{{ page_title }} - {{ site.title }}</title>

	{% if page_description %}<meta name="description" content="{{ page_description }}">{% endif %}
    {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}
    {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}

    {% assets "app_css" %}
    <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
    <div class="preloader-mask">
		<div class="preloader"></div>
	</div>

    <section id="hero" class="hero-section bg1 bg-cover window-height light-text">
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h5 class="heading-alt" style="margin-bottom: 8px;">14/21/27 / OTC and 04/NOV</h5>
				<h1 class="extra-heading">{{ message.slogan_title }}</h1>
				<h6 class="thin base-font">{{ message.slogan }}</h6>
				<div class="btns-container">
                    <a class="btn btn-md" href="{{ site.beijing.booking_url }}" data-modal-link="email-ticket" target="_blank">{{ message.beijing_booking_now }}</a>
                    <a class="btn btn-md" href="{{ site.shanghai.booking_url }}" data-modal-link="email-ticket" target="_blank">{{ message.shanghai_booking_now }}</a>
                    <a class="btn btn-md" href="{{ site.hangzhou.booking_url }}" data-modal-link="email-ticket" target="_blank">{{ message.hangzhou_booking_now }}</a>
                    <a class="btn btn-md" href="{{ site.shenzhen.booking_url }}" data-modal-link="email-ticket" target="_blank">{{ message.shenzhen_booking_now }}</a>
				</div>
                <div class="btns-container">
                    <a class="btn btn-outline btn-md" data-modal-link="0" href="{{ site.speech_apply_url }}" target="_blank">{{ message.speech_apple_now }}</a>
                </div>
			</div>
		</div>
	</section>

    {% include "base/_nav.html" %}
    {% block content %}{% endblock %}
    {% include "base/_footer.html" %}

    <!--[if lt IE 9]>
		<script type="text/javascript" src="{{ site.base_url }}/asset/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
		<!-- <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script> -->
	<!--<![endif]-->
    {% assets "app_js" %}
    <script type="text/javascript" src="{{ site.base_url }}/{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block js_block %}{% endblock %}

    {% include "base/_ga.html" %}
</body>
</html>
